body{
    height: 1000px;
    background-image: linear-gradient(#988fc1, #91add6);
}
.main{
    height: 1000px;
    /* background-image: linear-gradient(#988fc1, #91add6); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    /* background: black; */
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-family: 'Lobster', cursive;
    font-size: 30px;

}
.lobster-bod{
    width: 100px;
    height: 200px;
    background-color: rgb(170, 52, 16);
}

/* eye */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
    text-align:center;
}

h1{
    font-family: Mate Sc;
    font-size: 20px;
    color: white;
}

#eye{
    position:absolute;
    top:57%;
    left:45%;
    transform: translate(-50%,-50%);
    height: 70px;
    width:70px;
    background:white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px 1px #222236ad;
}

#eyeBall{
    position: absolute;
    top:55%;
    left:50%;
    height: 20px;
    width:20px;
    transform: translate(-50%,-50%);
    background:black;
    border-radius: 50%;
    transition:0;
}
#lobster-img{
    width: 70%;
}
#cloud-img{
    top: 100px;
    position:absolute;
    width: 60%;
}
#cloud-img-2{
    top: 60%;
    position:absolute;
    width: 60%;
}